@use "../../../Sass/Variables.scss";

// .headingContainer {
//     // text-align: center;
//     // display: flex;
//     // justify-content: center;
// }

.carouselHeader{
    position: absolute;
    padding: 6% 0 0 0;
    color: red;
    z-index: 1;
    font-size: 80px;
    font-weight: 700;
}

.contentContainerUpper {
    width: 100%;
    padding: 10px 5px 0 5px;
    height: fit-content; 
    display: flex;
    // justify-content: center;
   
}

.contentContainerLower {
    padding: 20px 20px;
    width: 60%;
    color: white;
}

.card-img-top {
    height: 9rem;
}

.contentRow {
    height: fit-content;
    padding: 10px 0;
}

.contentCol {
    display: flex;
    justify-content: center;
    padding: 10px;
}


.contentCards {
    border: solid red 2px;
    background-color: black;
    border-top: 0;
    border-bottom: 0;
}
 
.catagoriesTitle {
    text-align: center;
}

.card-title {
    font-size: 20px;
}

.card-text { 
    font-size: 10px;
}
