// @use "../../../node_modules/bootstrap/scss/bootstrap";

body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: grey;
    font-size: 14px;
}

.padding-0 {
    padding-right:0;
    padding-left:0;
}

