// @use "../../../node_modules/bootstrap/scss/bootstrap";

body, html {
    margin: 0;
    height:auto;
    width: 100%;
    background-color: grey;
    font-size: 14px;
}

.mainRow, .mainCol {
    padding-right:0;
    padding-left:0;
}

// .mainContainer {
    //     height: fit-content;
    // }

    
.mainRow {
    width: 100%;
   height: fit-content; 
}

