@use "../../Sass/Variables.scss";

.headingContainer {
    // text-align: center;
    display: flex;
    justify-content: center;
}

.carouselHeader{
    position: absolute;
    padding: 6% 0 0 0;
    color: red;
    z-index: 1;
    font-size: 80px;
    font-weight: 700;
}

.contentContainerUpper {
    width: 100%;
    padding: 0;    
}

.contentContainerLower {
    padding: 20px 20px;
    width: 60%;
    margin-top: -40%;
}

.card-img-top {
    height: 9rem;
}

.contentRow {
    height: fit-content;
    padding: 10px 0;
}

.contentCol {
    display: flex;
    justify-content: center;
    padding: 10px;
}


.card {
    // max-height: 70%;
    height: fit-content;
}
 


.card-title {
    font-size: 20px;
}

.card-text { 
    font-size: 10px;
}
