.loginPageContainer {
    height: 100%;
    padding: 0;
}

.headerContainer {
    padding: 0;
}

.loginFormContainer {
    color: white;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-top: 90px;
    border-radius: 10px;
}

.btn {
    margin-left: 10px;
}