@use "../../Sass/Variables.scss" as *;


.logo {
    color: $font-color;
}

.navBar {
  background-color: $header-bg;
}

.navbar-brand {
  font-size: 25px;
  font-weight: 600;
}

.searchBtn {
  background-color: $searchBtn-color;
  border-color: $searchBtn-color;
  font-weight: 650;
}

.cartLabel, .accountLabel {
    padding-left: 0;
}

.userPic, .cartPic {
  padding-right: 5px;
}


.row {
  background-color: white;
}

//Lower NavBar

.lowerNavbar, .lowerNavbarContainer {
    padding: 0;
    background-color: lighten($header-bg, 70%);
}

.lowerNavbarContainer > nav > a {
    color: red;
    padding: 4px 14px;
}

